# build output
dist/
# generated types
.astro/
.cache/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env.local

# macOS-specific files
.DS_Store
.idea/

.vscode/
!.vscode/launch.json
!.vscode/extensions.json
